/* 
font-family: 'Playfair Display', serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Red Hat Mono', monospace;
 */

 @import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Homemade+Apple&family=Rokkitt:wght@100&display=swap');

 body {
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px;
 }

h1 {
    font-family: 'Red Hat Mono', monospace;
    display: inline;
}

 h3 {
    font-family: 'Playfair Display', serif;
 }

p {
    display: inline;
}

 .highlight {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 32px;
    color: blue;
 }

 .bigger {
     font-size: 60px;
     writing-mode: vertical-rl;
 }

 .wrapper {
     width: 70%;
     margin: 80px auto;
 }